<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Mi lista de tareas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-input type="text" placeholder="escribe tu tarea..." name="task" [(ngModel)]="task"/>
    <ion-button (click)="addTask()" [disabled]="!task" >
      <ion-icon name="add-outline"/>
    </ion-button>
  </ion-item>
  @if (tasksList.length ==0){
    <ion-item-sliding>
      <ion-item class="ion-text-center" lines="none">
        <ion-label>
          No hay tareas pendientes
        </ion-label>
      </ion-item>
    </ion-item-sliding>

  } @else{
    <ion-list>
      <ion-reorder-group [disabled]="false" (ionItemReorder)="orderTask($any($event))" ) >
        @for (item of tasksList;track $index){
          <ion-item-sliding>
            <ion-item>
              <ion-label>
                {{item}}
              </ion-label>
            </ion-item>
            <ion-item-options side="end">
              <ion-item-option (click)="delete(item)" >
                <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        }
      </ion-reorder-group>

    </ion-list>
  }

</ion-content>
